
{% extends 'base.html' %}

{% block content %}
<div class="container" align="center">

    <h1>Information of data</h1>
    {% if messages %}
        {% for message in messages %}
         <h2 style="color:red;">{{message}}</h2>
        {% endfor %}

    {% endif %}

    <table id="std_table">
        <thead>
        <tr>
            <th>Grades</th>
            <th>Sections</th>
            <th>Subjects</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
        </thead>

        {% for admin in admins %}
        <tr>
            <td>{{admin.Grades}}</td>
            <td>{{admin.Sections}}</td>
            <td>{{admin.Subjects}}</td>
            <td><a id="del" href="delete/{{admin.id}}" title="Delete the data" onclick="return confirm('Are sure you want to delete this ?')">Delete</a></td>
            <td><a id="up"  href="update/{{admin.id}}" title="Update the Student">Update</a></td>
        </tr>
        {% endfor %}


    </table>

    <br><br>
    <a class="button" href="/" >Add New Student</a>
</div>


{% endblock %}