
{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">

    <h1>Update  Information</h1>
<table id="up_table">
    <form method="post">
        {% csrf_token %}
        <tr>
            <th>Grades</th>
            <td><input type="text" name="Grades" value="{{admins.Grades}}" placeholder="NO"></td>
        </tr>
        <tr>
            <th>Sections</th>
            <td><input type="text" name="Sections" value="{{admins.Sections}}" placeholder="Enter section"></td>
        </tr>
        <tr>
            <th>Subjects</th>
            <td><input type="text" name="Subjects" value="{{admins.Subjects}}" placeholder="Subjects"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="button" value="Update" onclick="return confirm('Are you sure you want to update it ?')"></td>
        </tr>
    </form>
</table>

</div>
{% endblock %}